@model IEnumerable<MovieStar.Models.Film>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-success"})
</p>

<div class="row">
    <div class="col-md-12">
        <form>
            <input class="form-control" type="search" placeholder="Type to search ..." name="text" id="search"/>
        </form>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            Name
        </th>
        <th>
            IMDB
        </th>
        <th>
            Length
        </th>
        <th>
           Dublaj
        </th>
        <th>
            Category
        </th>
        <th>
            Year
        </th>
    </tr>
</table>


<table class="table" id="films_table">
    @foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/Source/images/@item.Main_Img" style="width:120px; height:160px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.IMDB.ToString().Substring(0,3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dublaj.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @item.Year.Value.Year
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @if (Model.ToArray().Length > 1)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }
</table>

@section scripts
{
    <script>

        $("#search").keyup(function () {
            $("#films_table").html("");

            $.ajax({
                url: "/Admin/AdminFilm/Search",
                data: { text: $(this).val() },
                type: "GET",
                dataType: "html",
                success: function (res) {
                    if (res.length != 0) {
                        $("#films_table").append(res);
                    }
                }
            })
        })

    </script>
}
